
a {
  text-decoration: none;
}

.white-text {
  color: white;
}

.Navbar {
  width: 100%;
}

#Navbar-button-name-container {
  display: flex;
  flex-direction: row;
  margin: 5%;
}

#Navbar-name-container {
  display: flex;
  align-items: center;
  width: 100%;
}
#Navbar-name {
  width: 100%;
  text-align: center;
}

#Navbar-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #54B689;
  border: solid 1.5px;
  border-color: white;
  width: 45px;
  height: 35px;
  padding: 5px;
}

.Navbar-button-line {
  width: 60%;
  border-top: 3px solid white;
  border-radius: 1px;
}

.shown {
  overflow: hidden;
  max-height: 3000px;
  transition: max-height 0.5s ease-in;
}

.hidden {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.Navbar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navbar nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Navbar nav ul li {
  list-style: none;
}

#Navbar-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#Navbar-bio #Navbar-bio-description {
  margin: 1rem 0;
  font-size: 0.875rem;
}

#Navbar-social-list{
  display: flex;
  flex-direction: row;
  margin: 0.75rem 0;
}

#Navbar-social-list li.Navbar-social-item:not(:last-child) { 
  margin-right: 1rem;  
}

hr {
  height: 1px;
  width: 80%;
  border-top: 0;
  margin: 0.95rem 0;
  opacity: 35%;
}

#Navbar-nav-link-container {
  width: 80%;
}

#Navbar-nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Navbar-nav-item a {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Navbar-nav-item div {
  display: flex;
  align-items: center;
}

.Navbar-nav-item div h3 {
  margin-left: 1rem;
}

.Navbar-nav-item:hover h3 {
  color: rgba(0,0,0,0.8);
}

.Navbar-nav-item:hover .nav-link-icon {
  color: rgba(0,0,0,0.8);
}

#Navbar-nav-links li.Navbar-nav-item:not(:last-child) {
  margin-bottom: 1rem;
}

#hire-me-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  width: 100%;
  background: rgba(0,0,0,0.4);
  margin: 0.95rem 0;
}

#hire-me-container {
  display: flex;
  flex-direction: row;
}

#hire-me-button a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Navbar-dark-mode-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}

#Navbar-dark-mode-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dark-mode-title{
  margin-left: 0.25rem;
}

#dark-mode-toggle {
  display: none;
}

#dark-mode-toggle-label {
  margin-top: 1rem;
}

#dark-mode-toggle+#dark-mode-toggle-label:after,
#dark-mode-toggle+#dark-mode-toggle-label:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

#dark-mode-toggle+#dark-mode-toggle-label:before {
  display: none;
}

#dark-mode-toggle+#dark-mode-toggle-label:after {
  left: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(255,255,255,0.4);
  content: "";
  border-radius: 16px;
}

#dark-mode-toggle:checked+#dark-mode-toggle-label:after {
  left: 50%;
}

#dark-mode-toggle+#dark-mode-toggle-label {
  position: relative;
  cursor: pointer;
  border: 3px solid rgba(255,255,255,0.4);
  border-radius: 16px;
  width: 70px;
  height: 30px;
  padding: 1px;
}






