
.Navbar {
  width: 100%;
}

#Navbar-button-name-container {
  display: flex;
  flex-direction: row;
  margin: 5%;
}

#Navbar-name-container {
  display: flex;
  align-items: center;
  width: 100%;
}
#Navbar-name {
  color: white;
  width: 100%;
  text-align: center;
}

#Navbar-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #54B689;
  border: solid 1.5px;
  border-color: white;
  width: 45px;
  height: 35px;
  padding: 5px;
}

.Navbar-button-line {
  width: 60%;
  border-top: 3px solid white;
  border-radius: 1px;
}

.shown {
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

.hidden {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.Navbar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navbar nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Navbar nav ul li {
  list-style: none;
}

.Navbar nav ul li a{
  text-decoration: none;
}

#Navbar-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#Navbar-bio #Navbar-bio-description {
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 0.875rem;
}

#Navbar-social-list{
  display: flex;
  flex-direction: row;
}

#Navbar-social-list li.Navbar-social-item:not(:last-child) { 
  margin-right: 10px;  
}



